body {
    display: grid;
    background-color: #FFF0FF;
    text-align: center;
    .hero {
        padding-top: 25%;
        margin: auto auto;
        img{
            width: 128pt;
            height: 128pt;
            clip-path: circle();
        }
        .name {
            font-family: Courier, monospace;
            font-size: 40pt;
        }
        .slogan {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .cta {
            padding: 8px 24px;
            background-color: #D400FE;
            border: none;
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1em;
            border-radius: 12px;
            box-shadow: 0px 12px 24px rgba($color: #D400FE, $alpha: 0.48);
        }
    }
}